@charset "utf-8";
/* CSS Document */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
body {
    font-family:Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    margin:0px;
    background-color:#fff;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*================================== content css ================================== */
.header-items{width:100%; float:left;}
.post-comment-ara{background:#fff; border-radius:5px; padding:10px; float:left;}
.post-users{width:100px; float:left;}
.post-comments{width:200px; float:left;}
.post-comments1{width:260px; float:left; padding:0 0 0 15px;}
.post-comments1 small{width:100%; float:left; color:#000; font-size:15px;}
.post-comments1 span{width:100%; float:left; color:#666; font-size:14px;}
.post-comments textarea{font-size:14px; border:none; height:100px;}
.post-comments textarea {
    border: medium none;
    color: #7d7d7d;
    font-size: 16px;
    height: 100px;
    padding: 0 15px;
    resize: none;
    width: 100%;
}
.post-btns{float: left;padding: 20px 0 0;width: 60px; cursor:pointer;}
.content{width:100%; float:left;}
.wrapper{width:100%; float:left;}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width:430px;
}
.post-items{
    width:100%;
    float:left;
}
.post-items ul{
    width:100%;
    float:left;
    margin:0px;
    padding:0px;
}
.post-items ul li{float:left; max-width:100%;margin:0px;padding:10px; position:relative; list-style:none; box-sizing:border-box;}
.post-content-area{
    background: #ccc none repeat scroll 0 0;
    float: left;
    min-height: 194px;
    position: relative;
    width: 100%;
}
.post-content-area img{max-width:100%; float:left;}
.date-items{padding:0 10px; float:left; width:20%; box-sizing:border-box;}
.date-items span{float:left; width:100%; font-weight:bold; font-size:16px; text-align:center;}
.date-items small{float:left; width:100%; font-weight:bold; font-size:16px; text-align:center;}
.post-content{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,000000+100&0+0,0.92+100 */
    /*background: -moz-linear-gradient(top,  rgba(254,255,255,0) 0%, rgba(0,0,0,0.92) 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  rgba(254,255,255,0) 0%,rgba(0,0,0,0.92) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  rgba(254,255,255,0) 0%,rgba(0,0,0,0.92) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00feffff', endColorstr='#eb000000',GradientType=0 );*/ /* IE6-9 */
    width:100%;
    position:absolute;
    bottom:50px;
    padding:10px;
    box-sizing:border-box;
    left:0px;
}
.post-content p{
    width:80%;
    margin:0 0 0 0%;
    padding:0px 10px;
    line-height:1.22;
    float:left;
    font-size:16px;
    box-sizing:border-box;
}
.post-like-section{background:#fff; padding:10px; width:100%; float:left;}
.post-like-show{color:#737373; font-size:16px;float:left; padding:0 15px 0 0;}
.like-show{width:100%; float:left;}
.like-show ul{width:100%; margin:0px; padding:10px 0px 0px 0px; float:left;}
.like-show ul li{margin:0px; padding:0px 10px; float:left; list-style:none; color:#737373;}
.like-show ul li img{margin:0 5px 0 0;float:left;}
.like-show ul li span{float:left;line-height: 28px;}
.pooling{width:100%; float:left;}
.radio{padding:5px; background:#fff; width:100%; float:left;}
.question{padding:10px 0 10px 0px; width:100%; float:left; color:#555;}
.radio-btn{width:100%; float:left;padding:5px 0;}
.galley-section{width:100%; float:left;}
.galley-section-row{width:100%; padding:3px 0; float:left;}
.galler-left{width:49%; float:left;}
.galler-left img{max-width:100%;}
.galler-right{width:49%; float:right;}
.galler-right img{max-width:100%;}
/*================================== content css ================================== */
.questions .question {
    background: #fff;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.questions .question:before {
    content: 'Q :';
    font-weight: bold;
    margin-right: 10px;
}
.pol {
    background: #fff;
    color: #555;
    padding: 10px;    margin-bottom: 10px;
}
.result span {
    display: inline-block;
    margin-bottom: 3px;
    width: 100%;
}
.result {
    margin-top: 10px;
}
.result span meter {
       width: 70%;
    background: transparent;
    float: right;
    padding-top: 5px;
}
.result span.option span{ width:30%; float:left;}
