.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: 0.25;
}
.bs-docs-sidenav .icon-chevron-down {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: 0.25;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    background-color: #08C;
}

.bs-docs-sidenav {
    width: 225px;
    margin: 10px 0px 0px;
    padding: 0px;
    background-color: #FFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
    border-radius: 6px;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0px 0px;
}
.bs-docs-sidenav > li > a {
    display: block;
    margin: 0px 0px -1px;
    padding: 8px 14px;
    border: 1px solid #E5E5E5;
}
.bs-docs-sidenav > li{
    margin-left:0px !important;
}
.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.list-group-submenu {
    margin-left:20px;
}
.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0px;
}
a.list-group-item-success {
    color: #3C763D;
}
.list-group-item-success {
    color: #3C763D;
    background-color: #DFF0D8;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
a {
    background: transparent none repeat scroll 0px 0px;
}
.panel{
    width:236px;
}
ul.nav li{
    margin-left: 10px;
}
.main{
    min-height:420px;
    margin-top:20px;
}
.footer {
    margin-top:20px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.container .text-muted {
    margin: 20px 0px;
}
.text-muted {
    color: #777;

}
.footerBottomWrap {
    margin-bottom: -20px;
}
.footerBottomWrap {
    background: #63666A none repeat scroll 0% 0%;
    margin-top: 28px;
}
#footer {
    color: #D5D8DD;
}
.footerBottom {
    margin: 0px auto;
    max-width: 1280px;
    padding: 20px 4%;
    position: relative;
}
.footerBottom * {
    color: #B0B2B4;
    line-height: 1.8rem;
}
.footerBottomInner {
    display: inline-block;
    padding: 0px;
    position: relative;
    text-align: left;
}
.footerMainLinks, .footerCopyright {
    padding-left: 50px;
    width:50%;
    text-align:right;
}
.footerMainLinks, .footerMainLinks {
    padding-left: 50px;
    width:50%;
    text-align:left;
}
.footerBottom .footerMainLinks a {
    margin: 0px 8px 0px 0px;
}
.component {
    margin: 0px;
    position: relative;
}
.footerBottom .mobileButton {
    display: inline-block;
    padding-left: 50px;
}
select.tax_select{
    width:130px!important;
}
div.tax_container .span2{
    width:132px!important;
}
div.tax_container button{
    margin-top: 24px!important;
}
div.tax .hero-unit {
    padding: 20px;
}
div.tax .row{
    margin-top:0px;
    margin-left:0px!important;
}
div.tax a#impot{
    margin-top: 20px;
}
div.span9 a.btn{
    margin-top: 16px;
}
div.span9 a.del_Listing {
    margin-top: 0px!important;
}
div.span9{
    margin-left: 0px;
}
@media (min-width: 768px){
    .pagination {
        height: 40px;
        margin: -20px 0px;
    }
}
a.active{
    background-color: #E6E6E6;
}


/*  CSS included after bootstrap update*/

.list-inline {
    padding-left: 0px;
    list-style: outside none none;
    margin-left: -5px;
}
a {
    color: #177B57;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.footer-below {
    text-align: center;
}
.sb-page-header {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    font-size: 24px;
}
.sb-page-header {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background-color: #177B57;
    background-image: url("assets/bg.png");
    margin-bottom: 40px;
    font-size: 20px;
}

/* Sidebar Menu CSS*/
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

/* Login Form CSS*/
.login_wrapper{
    margin-top:30px;
}
.wrapper {    
    margin-bottom: 20px;
}

.form-signin {
    max-width: 100%;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);  
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.modal-backdrop{
    z-index:0;
}


/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 35%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 27% !important;
}

.profile-usertitle {
    text-align: center;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #cc0001;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}
.side-profile{
    /*margin-right: 16%;*/
    border:1px solid #F1F3FA;
    padding:10px;
}

/* Testimonial Slider CSS */

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 270px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.navbar-brand > img {
    display: block;
    width: auto;
    height: 50px;
}
.navbar-brand {
    padding: 0px !important;
}
.user-profile{
    width:100% !important;
}
.clear{
    clear:both;
}
.title_head hr{
    margin-top:10px !important;
    margin-bottom:10px !important;
}
.button-submit{
    margin-top:10px;   
}
.active-menu{
    background-image:linear-gradient(to bottom, #eeeeee 0%, #e2e2e2 100%);
    border-left: 3px solid #50A2B8;
}
.sub-icon{
    margin: 0 18px 0 0;
}

.RelatedBoards {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    width: 236px;
}
.form-control {
    float: left;
    margin: 10px 10px 0 0;
    width: 97%;
}
#get_answer1,
#get_answer2,
#get_answer3,
#get_answer4{
    margin: 25px 0 0;
}
.comment-pic{
    width: 65px;
    height: 66px;
    border-radius: 10px;
}
.text-primary {
    color: #cc0001!important;
}